body {
  background-color: #262e34;
  margin: 0;
}

.hero-container {
  width: 100%;
  max-width: 1214px;
  height: 705px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.picture {
  height: 683px;
  width: 535px;
  object-fit: cover;
  transform: rotate(-45deg);
  padding-top: 22px;
  padding-left: 25px;
}

.profile-pic:hover {
  background-image: url("assets/img/shape.svg");
  background-repeat: no-repeat;
}

.profile-pic {
  background-image: url("assets/img/shape_hover.svg");
  background-repeat: no-repeat;
  width: 594px;
  height: 710px;
  transform: rotate(45deg);
}

.logo {
  background-image: url("assets/icons/hero_logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-image 0.3s ease-out;
  width: 52px;
  height: 32px;
}

.logo:hover {
  background-image: url("assets/icons/hero_logo_hover.svg");
}

.hero-logo {
  width: 66px;
  height: 73px;
}

.scroll-down:hover {
  background-image: url("assets/icons/arrow_down_hover.svg");
}

.mail-btn-header:hover {
  background-image: url("assets/icons/mail_btn_header_hover.svg");
}

.github-btn-header:hover {
  background-image: url("assets/icons/github_btn_header_hover.svg");
}

.linkedin-btn-header:hover {
  background-image: url("assets/icons/linkedin_btn_header_hover.svg");
}
