body {
  background-color: #262e34;
  margin: 0;
}

header {
  min-height: calc(100vh - 104px);
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Anta-Regular";
  font-size: 88px;
  color: #f8f5ec;
  line-height: 120%;
  margin: 0;
  text-align: center;
}

h2 {
  font-family: "Anta-Regular";
  font-size: 60px;
  color: #89bcd9;
  margin: 0;
  padding-bottom: 80px;
}

h3 {
  font-family: "Josefin-Regular";
  font-size: 28px;
  color: #f8f5ec;
  margin: 0;
}

.d-none {
  display: none !important;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.scroll-down {
  background-image: url("assets/icons/arrow_down.svg");
  width: 38px;
  background-repeat: no-repeat;
  height: 89px;
}

.scroll-down:hover {
  background-image: url("assets/icons/arrow_down_hover.svg");
  background-repeat: no-repeat;
}

.arrow-down-container {
  display: flex;
  margin-top: 120px;
}

.subtitle {
  font-family: "Josefin-Regular";
  font-size: 40px;
  color: #f8f5ec;
  line-height: 120%;
  margin: 0;
}

.hero-container {
  padding-top: 41px;
  padding-left: 114px;
  padding-right: 112px;
  flex-grow: 1;
  width: 100%;
  max-width: 1920px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  box-sizing: border-box;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  gap: 36px;
}

.profile-pic-wrapper {
  align-self: end;
  position: relative;
  width: 100%;
  max-width: 594px;
  height: 100%;
  max-height: 710px;
  aspect-ratio: 594 / 710;
  flex-shrink: 0;
}

.picture {
  position: absolute;
  left: -40px;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 35% center;
  z-index: 2;
  pointer-events: none;
}
.profile-pic-wrapper:hover .profile-pic {
  background-image: url("assets/img/profile_img_shape.svg");
}

.profile-pic {
  background-image: url("assets/img/profile_img_shape_hover.svg");
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  transform: rotate(-45deg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-in-out;
}

.logo {
  background-image: url("assets/icons/hero_logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 8px;
  width: 56px;
  height: 38px;
}

.logo:hover {
  background-image: url("assets/icons/hero_logo_hover.svg");
  transition: background-image 0.5s ease-out;
  transform-origin: center;
  width: 56px;
  height: 38px;
}

.hero-logo {
  width: 66px;
  height: 73px;
}

.hero-logo-name {
  font-family: "Anta-Regular";
  font-size: 16px;
  color: #f8f5ec;
  margin: 0;
}

.hero-logo-subtitle {
  font-family: "Josefin-Regular";
  font-size: 16px;
  color: #89bcd9;
  margin: 0;
}

.hero-logo-subtitle-navbar {
  font-family: "Josefin-Regular";
  font-size: 16px;
  color: #262e34;
  margin: 0;
}

.contact-sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: flex-start;
  padding-top: 68px;
}

.mail-btn-header:hover {
  background-image: url("assets/icons/mail_btn_header_hover.svg");
}

.github-btn-header:hover {
  background-image: url("assets/icons/github_btn_header_hover.svg");
}

.linkedin-btn-header:hover {
  background-image: url("assets/icons/linkedin_btn_header_hover.svg");
}

.sticky-nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 104px;
  display: flex;
  background-color: #89bcd9;
  flex-shrink: 0;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  padding-left: 110px;
  padding-right: 110px;
  align-items: center;
  height: 100%;
}

.hero-logo-navbar {
  width: 58px;
  height: 72px;
}

.navbar-logo {
  margin-left: 8px;
}

.menu {
  display: flex;
  gap: 92px;
  justify-content: center;
  align-items: center;
}

.menu-text {
  font-family: "Josefin-Regular";
  font-weight: 500;
  font-size: 26px;
  width: 121px;
  color: #262e34;
  background-color: #89bcd9;
  border: none;
}

.menu-text:hover {
  cursor: pointer;
  color: #f8f5ec;
}

.menu-text:focus {
  background-image: url("assets/icons/ellipse-menu.svg");
  color: #f8f5ec;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.language-change {
  font-family: "Josefin-Regular";
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #262e34;
}

.language-change p:hover {
  cursor: pointer;
  color: #f8f5ec;
}

.language-change button:focus {
  background-image: url("assets/icons/ellipse-menu.svg");
  color: #f8f5ec;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.language-change button {
  background-color: #89bcd9;
  border: none;
  font-family: "Josefin-Regular";
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #262e34;
}

.why-me-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 290px;
  padding-right: 290px;
  padding-top: 104px;
}

.why-me-info {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 81px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 430px;
}

.info p {
  font-family: "Josefin-Bold";
  color: #f8f5ec;
  font-size: 30px;
}

.info span {
  color: #89bcd9;
}

.text-and-button {
  width: 380px;
  display: grid;
}

.why-me-text {
  font-family: "Josefin-Regular";
  font-size: 18px;
  color: #f8f5ec;
  text-align: justify;
}

.lets-talk-btn {
  background-image: url("assets/icons/lets_talk_btn.svg");
  width: 134px;
  height: 48px;
  border-style: none;
  background-color: #262e34;
  justify-self: end;
}

.lets-talk-btn:hover {
  cursor: pointer;
  background-image: url("assets/icons/lets_talk_btn_hover.svg");
}

.my-skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 104px;
  padding-left: 290px;
  padding-right: 290px;
}

.my-skills-all-info {
  display: flex;
  gap: 79px;
}

.skill-set {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  justify-content: center;
}

.currently-learning {
  background-image: url("assets/img/learning_skill_shape.svg");
  width: 375px;
  height: 391px;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.currently-learning:hover {
  background-image: url("assets/img/learning_skill_shape_hover.svg");
  transition: background-image 0.4s ease-in;
}

.learning-icon-angular {
  height: 52px;
}

.learning-icon-typescript {
  height: 54px;
}

.currently-learning-icon {
  display: flex;
  align-items: center;
  gap: 24px;
}

.learning-text {
  width: 300px;
  text-align: center;
}

.my-projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 104px;
}

.my-projects-all-info {
  width: 100%;
}

.project-name {
  font-family: "Josefin-Regular";
  font-size: 30px;
  color: #89bcd9;
  padding: 16px;
  background-color: #262e34;
  border: none;
}

.project-name:hover {
  cursor: pointer;
  color: #f8f5ec;
}

.project-name.active {
  background-color: #89bcd912;
}

.tabs-switch {
  display: flex;
  justify-content: flex-start;
  padding-left: 102px;
  gap: 20px;
}

.rectangle-frame {
  background-color: #89bcd912;
  max-height: 548px;
}

.project-info-section {
  padding-top: 31px;
  padding-right: 118px;
  padding-left: 123px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 548px;
}

.project-info-section p {
  color: #f8f5ec;
  font-size: 18px;
  font-family: "Josefin-Regular";
}

.project-blue-ellipse {
  background-image: url("assets/img/project-blue-ellipse.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 26px;
  flex-shrink: 0;
}

.about-project,
.work-process-organisation,
.group-work-experience {
  display: flex;
  align-items: flex-start;
}

.about-content span {
  font-size: 18px;
  padding-left: 20px;
}

.about-content {
  display: flex;
  flex-direction: column;
}

.project-section-left {
  width: calc(65%);
}

.project-section-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-technologies p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-technologies {
  padding-bottom: 16px;
}

.project-technologies-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.project-screenshot {
  padding-bottom: 34px;
}

.project-buttons {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.project-github-btn {
  border-style: none;
  background-color: #2e3a42;
}

.project-github-btn svg:hover {
  fill: #f8f5ec1f;
  cursor: pointer;
}

.project-live-test-btn {
  border-style: none;
  background-color: #2e3a42;
}

.project-live-test-btn svg:hover rect {
  fill: #f8f5ec;
  cursor: pointer;
}

.el-pollo-loco-screenshot {
  width: 453.47px;
  height: 312px;
  border-radius: 30px;
}

.portfolio-screenshot {
  width: 453.47px;
  height: 312px;
  border-radius: 30px;
}

.block {
  display: block;
}
