body {
  background-color: #262e34;
  margin: 0;
}

h1 {
  font-family: "Anta-Regular";
  font-size: 88px;
  color: #f8f5ec;
  line-height: 120%;
  margin: 0;
  text-align: center;
}

.scroll-down {
  background-image: url("assets/icons/arrow_down.svg");
  width: 38px;
  background-repeat: no-repeat;
  height: 89px;
}

.scroll-down:hover {
  background-image: url("assets/icons/arrow_down_hover.svg");
  background-repeat: no-repeat;
}

.subtitle {
  font-family: "Josefin-Regular";
  font-size: 40px;
  color: #f8f5ec;
  line-height: 120%;
  margin: 0;
}

.hero-container {
  padding-top: 41px;
  padding-left: 114px;
  padding-right: 112px;
  width: 100%;
  max-width: 1214px;
  height: 705px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

.profile-pic-wrapper {
  position: relative;
  width: 100%;
  max-width: 594px;
  height: 100%;
  max-height: 710px;
  aspect-ratio: 594 / 710;
  flex-shrink: 0;
}

.picture {
  position: absolute;
  left: -40px;
  bottom: 0;
  top: -5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 35% center;
  z-index: 2;
  pointer-events: none;
}
.profile-pic-wrapper:hover .profile-pic {
  background-image: url("assets/img/profile_img_shape.svg");
}

.profile-pic {
  background-image: url("assets/img/profile_img_shape_hover.svg");
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  transform: rotate(-45deg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-in-out;
}

.logo {
  background-image: url("assets/icons/hero_logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 5px;
  width: 56px;
  height: 38px;
}

.logo:hover {
  background-image: url("assets/icons/hero_logo_hover.svg");
  transition: background-image 0.5s ease-out;
  transform-origin: center;
  width: 56px;
  height: 38px;
}

.hero-logo {
  padding-top: 121px;
  width: 66px;
  height: 73px;
}

.hero-logo-name {
  font-family: "Anta-Regular";
  font-size: 16px;
  color: #f8f5ec;
  margin: 0;
}

.hero-logo-subtitle {
  font-family: "Josefin-Regular";
  font-size: 16px;
  color: #89bcd9;
  margin: 0;
}

.hero-logo-subtitle-navbar {
  font-family: "Josefin-Regular";
  font-size: 16px;
  color: #262e34;
  margin: 0;
}

.contact-sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: flex-start;
  padding-top: 68px;
}

.mail-btn-header:hover {
  background-image: url("assets/icons/mail_btn_header_hover.svg");
}

.github-btn-header:hover {
  background-image: url("assets/icons/github_btn_header_hover.svg");
}

.linkedin-btn-header:hover {
  background-image: url("assets/icons/linkedin_btn_header_hover.svg");
}

.sticky-nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 104px;
  display: flex;
  background-color: #89bcd9;
}
